GEOmetadb.sqlite
.Rproj.user/DC1A1DAC/persistent-state
.Rproj.user/DC1A1DAC/saved_source_markers
.Rproj.user/DC1A1DAC/pcs/files-pane.pper
.Rproj.user/DC1A1DAC/pcs/source-pane.pper
.Rproj.user/DC1A1DAC/pcs/windowlayoutstate.pper
.Rproj.user/DC1A1DAC/pcs/workbench-pane.pper
.Rproj.user/DC1A1DAC/sources/prop/460CDF64
.Rproj.user/DC1A1DAC/sources/prop/AC94667D
.Rproj.user/DC1A1DAC/sources/prop/INDEX
.Rproj.user/DC1A1DAC/sources/session-bfaec54d/80872B96
.Rproj.user/DC1A1DAC/sources/session-bfaec54d/80872B96-contents
.Rproj.user/DC1A1DAC/sources/session-bfaec54d/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/B7B7BFE9-Gene_Expression_Dataset_Selection/1/DC1A1DACbfaec54d/chunks.json
.Rproj.user/shared/notebooks/B7B7BFE9-Gene_Expression_Dataset_Selection/1/s/chunks.json
.Rproj.user/shared/notebooks/B7B7BFE9-Gene_Expression_Dataset_Selection/1/s/c5yibtwnnbigo/000002.csv
.Rproj.user/shared/notebooks/B7B7BFE9-Gene_Expression_Dataset_Selection/1/s/c5yibtwnnbigo/000003.csv
.Rproj.user/shared/notebooks/B7B7BFE9-Gene_Expression_Dataset_Selection/1/s/c5yibtwnnbigo/000003.metadata
.Rproj.user/shared/notebooks/B7B7BFE9-Gene_Expression_Dataset_Selection/1/s/c5yibtwnnbigo/000003.rdf
.Rproj.user/shared/notebooks/B7B7BFE9-Gene_Expression_Dataset_Selection/1/s/cuaclxgjlbgh7/000002.csv
